html {
  padding: 4em;
  font: 1em sans-serif;
}
svg {
  position: absolute;
  height: 0;
  overflow: hidden;
}
small {
  color: #777;
  font-size: .75em;
}
code {
  font-family: monospace, monospace;
  font-size: 1em;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin-top: 2.5em;
}
p,
ul {
  color: #555;
}
a {
  color: hsl(205, 65%, 24%);
  font-weight: bold;
  font-size: .95em;
}
.baseline {
  margin-top: 0;
  color: #777;
  font-style: italic;
  font-size: 1.1em;
}
.testcase {
  display: flex;
  margin: 50px 0;
}
.forceLayout {
  position: relative;
}
.image {
  flex: 0 0 200px;
  height: 200px;
  margin-right: 30px;
  background: hsl(205, 65%, 24%);
}
.text {
  flex: 1 1 auto;
}
.title {
  margin: 0;
}
.note {
  font-size: .8em;
}
.note a {
  
}
.code {
  display: block;
  padding: 0 .5em;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 1em;
  background: hsl(205, 5%, 20%);
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.4);
  border-radius: 3px;
}
.img-mask {
  width: 100px;
  margin-right: 20px;
  background: linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.25) 75%, rgba(0,0,0,.25)), 
linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.25) 75%, rgba(0,0,0,.25));
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.Mask--placeholder {
  position: absolute;
  opacity: .1;
}
.image:hover .Mask--placeholder {
  opacity: 0;
}
