doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title CSS & SVG Masks (Testcases)
    link(rel="stylesheet", href="assets/styles.css")
    link(rel="icon", href="http://iamvdo.me/images/favicon.png")
  body
    h1 CSS & SVG Masks
    p.baseline Testcases on HTML content. See 
      a(href="https://drafts.fxtf.org/css-masking-1/") CSS Masking Level 1
    p.note Made by 
      a(href="https://twitter.com/iamvdo") @iamvdo
      |  - Code on 
      a(href="https://github.com/iamvdo/css-svg-masks") GitHub
    p
      b All code blocks are real-time editable
      |. Prefixes are required for some testcases, but are automatically added by Autoprefixer for convenience.

    p In the page: 
      a(href="#clipping") Clipping
      |  
      a(href="#masking") Masking
      |  
      a(href="#notes") Notes

    h2#clipping Clipping
    p Clipping in CSS can be compared to Photoshop “Vector Masks”. So only vector shapes.

    .Testcases!= clipping

    h2#masking Masking
    p Masking in CSS can be compared to Photoshop masks, as follow:
    ul
      li Alpha masks are Photoshop “Clipping Masks”: transparency matters. This is the default for CSS masks.
      li Luminance masks are Photoshop “Layer Masks”: white and black matter. This is the default for SVG masks.
    p Here are masks images used on some testcases below: 
      code alpha-mask.png
      |  and 
      code luminance-mask.png
    p
      img.img-mask(src="alpha-mask.png", alt="", width="100", height="100")
      img.img-mask(src="luminance-mask.png" alt="", width="100", height="100")

    .Testcases!= masking

    h2#notes Notes
    p <b>Firefox</b> (54) is the only browser to support all testcases in this page. Hooray! (FF53 fails only test 
      a.nb(href="#test9") 9
      |)
    p <b>Chrome</b> supports most testcases, except 
      a.nb(href="#test6") 6
      |, 
      a.nb(href="#test7") 7
      |, 
      a.nb(href="#test13") 13
      |, 
      a.nb(href="#test14") 14
      |, 
      a.nb(href="#test15") 15
      |, 
      a.nb(href="#test16") 16
      |. Tests 
      a.nb(href="#test9") 9
      |, 
      a.nb(href="#test11") 11
      |  are supported but have weird impact on other tests.
    p <b>Opera</b> works as Chrome. Except tests 
      a.nb(href="#test9") 9
      |, 
      a.nb(href="#test11") 11
      |  that fail.
    p <b>Safari</b> works <i>mostly</i> as Chrome. Except some weird bugs when using more than one 
      code clip-path
      |  per page. See: 
      a(href="https://bugs.webkit.org/show_bug.cgi?id=164181") https://bugs.webkit.org/show_bug.cgi?id=164181
    p <b>Edge</b> has no support at all. :/
    p CanIUse pages: 
      a(href='http://caniuse.com/#feat=css-clip-path') CSS Clip-path
      |  
      a(href='http://caniuse.com/#feat=css-masks') CSS Masks

    script(src='assets/autoprefixer.js')
    script(src='assets/livecoding.js')